@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

:root{
  --main-color:#0aad0a;
  --light-color:#f0f3f2;
  --shadow:rgba(145,158,171,0.2) 0px 2px 4px -1px ,
    rgba(145,158,171,0.14) 0px 4px 5px 0px;
  --rating-color:#ffc908;
  --font-family:'Mooli', sans-serif;
}
body {
  font-family: var(--font-family);   
  overflow-x: hidden;
}

a , a:hover{
  text-decoration: none !important;
  color: #000;
}

ul{
  list-style: none !important;
}

.rating-color{
  color: var(--rating-color);
}

.cursor-pointer{
  cursor: pointer;
}

.product{
  overflow: hidden;
}
.product img{
  transition: 0.3s all ease-in;
}

.product img:hover{
  transform: scale(1.2);
}

.product:hover{
  box-shadow: var(--shadow);
  cursor: pointer;
}

.product .btn{
  transition:  transform 1s , opacity 1s;
  transform: translateY(100%);
  opacity: 0 ;
}

.product:hover .btn{
  opacity: 1;
  transform: translateY(0%);
}



.font-sm{
  font-size: 14px;
}

.text-main{
  color: var(--main-color);
}

.bg-main{
  background-color: var(--main-color) !important;
}

.bg-main-light{
  background-color: var(--light-color) !important;
}

.details_btn{
  background-color: var(--main-color);
  color: var(--light-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s !important;
}

.details_btn:hover{
  background-color: #0a860a !important;
  color: var(--light-color);
  letter-spacing: 3px;
}

.btn_border{
  border: 1px solid var(--main-color) ;
}

